@{
    ViewData["Title"] = "Kết Quả Đăng Ký";
}

<h2>Kết Quả Đăng Ký</h2>
<p>
    Cảm ơn bạn <b>@ViewBag.MSSV</b> - <b>@ViewBag.HoTen</b> đã đăng ký chuyên ngành <b>@ViewBag.ChuyenNganh</b>.
</p>
<p>
    Số lượng sinh viên đã đăng ký ngành giống bạn là: <b>@ViewBag.SoLuongCungNganh</b>.
</p>
<a href="/Student/Index">Quay lại</a>
